/* 
font-family: 'Plus Jakarta Sans', sans-serif;
*/

.notif {
  font-size: 2.2rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.notif-number {
  font-size: 2rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(219, 85%, 26%);
  color: #fff;
  padding: 0.4rem 1.2rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}
